.assessment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;

  border: none;
  margin: 0;
  padding: 0;

  row-gap: 16px;

  @media (min-width: @tablet-width) {
    grid-area: assessment;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;

    padding-left: 35px;
  }

  @media (min-width: @desktop-width) {
    grid-area: assessment;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;

    padding: 0 0 17px 0;
  }
}

.assessment-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.assessment__title {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.assessment__input {
  margin: 10px;

  background-color: @bg-secondary;
}

.assessment__label {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  padding: 10px 10px 10px 16px;
}
