.assessment-description {
  display: grid;

  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-area: description;
  }

  @media (min-width: @desktop-width) {
    grid-area: description;

    padding-left: 96px;
    padding-right: 96px;
  }
}

.assessment-description__title {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;
  }
}

.assessment-description__field {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  background-color: @bg-secondary;

  padding: 16px;

  border: none;
}
