
.button {
  display: inline-block;
  font-family: @main-font;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: @blue;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 284px;

  transition: 0.1s linear;

  &:hover {
    background-color: darken(@blue, 15%);
  }

  &:active {
    background-color: lighten(@blue, 10%);
  }
}
