

.fullname {
  display: grid;

  border: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-area: fullname;
    border-right: 1px solid hsl(0, 0%, 86%);
    padding-right: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 63px;
  }
}

.fullname__title {
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }
}

.fullname__name {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  padding-left: 16px;
}

.fullname__name-input {
  font-family: inherit;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  background-color: @bg-secondary;

  margin-bottom: 16px;

  border: none;
}

.fullname__surname {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  padding-left: 16px;
}

.fullname__surname-input {
  font-family: inherit;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  background-color: @bg-secondary;

  margin-bottom: 16px;

  border: none;
}

.fullname__patronymic {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;

  padding-left: 16px;
}

.fullname__patronymic-input {
  font-family: inherit;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  background-color: @bg-secondary;

  border: none;
}
