
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__logo {
  margin: 0 auto;
  order: 1;
}

.header__navigation-toggle {
  display: none;
}

.header__navigation-close-button {
  display: none;
}
