
.page-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.page-footer__sedona-hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 33px;
  margin-bottom: 30px;
}

.page-footer__socials-list {
  .list-reset ();
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__htmlacademy-link {
  margin-bottom: 33px;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.socials-svg,
.page-footer__htmlacademy-link-svg {
  display: block;
}
