
.photocard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}

.photocard__button {
  width: 23px;
}

.likes-wrapper {
  display: grid;
  grid-template-columns: 23px 1fr;
  align-items: center;
}

.photocard__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 15px 0 0 0;
}

.photocard__author {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 11px 0;
  color: @grey-text;
}

.photocard__numbrer-of-likes {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0 0 0 14px;
}
