
.videos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.videos__lead-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @black;
  margin-bottom: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.videos__lead-description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  color: @grey-text;
  text-transform: uppercase;
  margin-bottom: 38px;
  padding-left: 5px;
  padding-right: 5px;
}
