
@blue: #81B3D2;
@white: #FFFFFF;
@black: #000000;
@grey-bg: #EEEEEE;
@grey-text: #333333;
@img-background-color: #689cc3;

@main-font: "PT Sans", sans-serif;

@mobile-width: 320px;
@tablet-main-container-width: 648px;
@tablet-width: 768px;
@desktop-width: 1200px;
@desktop-body-width: 1280px;
